.nos{
    padding-top: 3rem;
    margin-top: 0%;
}

.nos h1, h2, h3{
    font-family:Verdana,sans-serif;
    text-align: center;
    font-weight:400;
    margin-top: 2%;
}

.nos p {  
    text-align: justify;
    color: #333;
    margin-right: 10%;
    margin-left: 10%;
}

.text {  
        text-align: justify;
        color: #333;
        margin-right: 10%;
        margin-left: 10%;
}

hr {
    height: 3px;
    width: 80%;
    border: 0;
    box-shadow: 0 12px 12px -12px;
    background-image:linear-gradient(to right, #6c1427, #d7284e, #6c1427);
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    box-shadow: 1px 1px 10px 2px #d9d9d9;
}